.icon {
  display: block;
  margin-top: -10px;
  :global {
    .ant-upload.ant-upload-select {
      display: block;
    }
    .ant-upload-list {
      float: left;
      border: 0;
    }
    .ant-upload-list-item {
      padding: 0;
      border-style: none;
    }
    .ant-upload-list-picture {
      height: 58px;
    }
    .ant-upload-list-picture .ant-upload-list-item-thumbnail {
      left: 0;
      top: 0;
    }
    .ant-upload-list-item-name {
      max-width: 300px;
    }
  }
}
